.Excel table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightseagreen;
}
  
.Excel td {
  background-color: #ffffff;
  font-size: small;
  padding: 5px;
  overflow: hidden;
  text-align: center;
}

.Excel th {
  color: #000;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.Excel .ExcelNotSortable {
  cursor: default;
}
